{% extends 'base.html' %}
{% load static %} 
{% block content %}

<section class="container text-center">
  <h1><b>ABOUT US</b></h1>

  <hr> <br>
  <div class="row">
    <p>
      OnQliklearn.com is a E-learning website that aims to simplify creating, distributing, and
grading assignments and engaging students in learning online or remotely. OnQliklearn.com is
a free designed to help students and teachers communicate, collaborate, organize and manage
assignments, go paperless, and much more
E-Learning is the employment of technology to aid and enhance learning. It can be as simple
as High School students watching a video documentary in class or as complex as an entire
university course provided online. e-Learning began decades ago with the introduction of
televisions and over-head projectors in classrooms and has advanced to include interactive
computer programmes, 3D simulations, video and telephone conferencing and real-time online
discussion groups comprised of students from all over the world. But in an era of IT revolution,
students from different regions and communities can be future ready with the same degree or
diploma at a distance and location is not a problem at all. Then, E-Learning is engineered in a
variety of contexts, such as distance education, online learning, Web-based learning, etc.
OnQliklearn.com integrates features like notes for students that can be later referred and are
stored until deleted permanently, Wikipedia which helps students in assignments and
homework’s, youtube video content as it has handy features like rewinding/ fast-forwarding,
worklist to maintain daily or monthly routine, dictionary to improve one’s vocabulary, eBooks
which contain complete text of printed textbook and conversion table all in single website to
help educational institutions transition to a paperless system.</p>
    </div>



</section>
{% endblock content %}